.game-container {
  width: 900px;
  height: 900px;
  margin: 0 auto;

}

.game-heading {
  width: 800px;
  margin: 0 auto;
}

.play-btn {
  width: 100px;
}

.game-area {
  width: 800px;
  height: 500px;
  border: 2px solid black;
  margin: 20px auto;
  position: relative;
  padding-bottom: 20px;
}

.circle-point {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: lightblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid black;
}